.version.amazon_catalogue /* version checker */
{
	color: #000016;
	background-color: #AC9596;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 63px;
	margin-left: auto;
	margin-right: auto;
}

#u1405-8
{
	z-index: 2;
	width: 61px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 89px;
	left: -62px;
}

#pu223-28
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: -18px;
	margin-left: 20px;
}

#u223-28
{
	z-index: 10;
	width: 375px;
	min-height: 203px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
}

#u223-9
{
	text-align: left;
	font-style: italic;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	padding: 5px;
}

#u223-7
{
	font-size: 12px;
	color: #2D2D2D;
	line-height: 14px;
}

#u223-11,#u223-16,#u223-21
{
	font-style: normal;
	padding: 5px;
}

#u223-14,#u223-19,#u223-24
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	padding: 5px;
}

#u223-12,#u223-17,#u223-22
{
	font-size: 12px;
	font-style: italic;
	line-height: 14px;
}

#u223-8,#u223-13,#u223-18,#u223-23
{
	line-height: 17px;
}

#u223-2,#u223-3,#u223-5,#u223-6,#u223-26
{
	text-align: left;
	padding: 5px;
}

#u218
{
	z-index: 38;
	width: 545px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 107px;
	left: 402px;
	padding: 10px 7px 12.199999999999818px 5px;
}

#u228
{
	z-index: 43;
	width: 230px;
	background-color: transparent;
	margin-left: 8px;
	position: relative;
}

#u328
{
	z-index: 45;
	width: 545px;
	background-color: transparent;
	margin-top: 180px;
	position: relative;
}

#u219-4
{
	z-index: 39;
	width: 375px;
	min-height: 43px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u219-2
{
	padding: 5px;
}

#u224
{
	z-index: 47;
	width: 816px;
	background-color: transparent;
	-webkit-transform: matrix(0.9877,-0.1564,0.1564,0.9877,-31,67);
	-ms-transform: matrix(0.9877,-0.1564,0.1564,0.9877,-31,67);
	transform: matrix(0.9877,-0.1564,0.1564,0.9877,-31,67);
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 187px;
}

#u343
{
	z-index: 49;
	width: 240px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 300px;
	left: 494px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

