.version.ifo /* version checker */
{
	color: #00000E;
	background-color: #8FD067;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 438px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 62px;
	margin-left: auto;
	margin-right: auto;
}

#pu75-8
{
	width: 0.01px;
	margin-right: -10000px;
}

#u75-8
{
	z-index: 2;
	width: 157px;
	min-height: 62px;
}

#u80-24
{
	z-index: 10;
	width: 157px;
	min-height: 234px;
	margin-top: 31px;
}

#pu203-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 245px;
}

#u203-4
{
	z-index: 117;
	width: 596px;
	min-height: 55px;
	background-color: transparent;
	line-height: 53px;
	text-transform: uppercase;
	font-size: 44px;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 1px;
	position: relative;
}

#pu106-3
{
	width: 0.01px;
	margin-top: 28px;
}

#u106-3
{
	z-index: 34;
	width: 694px;
	min-height: 234px;
	margin-right: -10000px;
	margin-top: 27px;
}

#u204-78
{
	z-index: 37;
	width: 693px;
	min-height: 1377px;
	background-color: transparent;
	letter-spacing: 0px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u204-11,#u204-29,#u204-47,#u204-65
{
	font-weight: bold;
}

#u204-67
{
	font-size: 1px;
	line-height: 0px;
}

#u208
{
	z-index: 109;
	width: 448px;
	height: 252px;
	background: transparent url("../images/yt%20up-u208-fr.jpg") no-repeat center center;
	background-size: contain;
}

.hidpi #u208
{
	background-image: url("../images/yt%20up-u208-fr_2x.jpg");
}

#u206
{
	z-index: 121;
	width: 448px;
	height: 237px;
	position: relative;
	margin-right: -10000px;
	margin-top: 204px;
	left: 1px;
	background: transparent url("../images/packaging1-u206-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u206
{
	background-image: url("../images/packaging1-u206-fr_2x.jpg");
}

#u207
{
	z-index: 122;
	width: 448px;
	height: 237px;
	position: relative;
	margin-right: -10000px;
	margin-top: 490px;
	left: 1px;
	background: transparent url("../images/london_underground_ad_screen_mockup_1-u207-fr.jpg") no-repeat center center;
	background-size: cover;
}

.hidpi #u207
{
	background-image: url("../images/london_underground_ad_screen_mockup_1-u207-fr_2x.jpg");
}

#u228
{
	z-index: 123;
	width: 448px;
	height: 243px;
	position: relative;
	margin-right: -10000px;
	margin-top: 774px;
	left: 1px;
	background: transparent url("../images/box1.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u228
{
	background-image: url("../images/box1_2x.jpg");
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

