.version.index /* version checker */
{
	color: #0000E1;
	background-color: #59ABF0;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 500px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u83-15
{
	z-index: 2;
	width: 515px;
	min-height: 115px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 409px;
}

#u83-2,#u83-4,#u83-6,#u83-11,#u83-13
{
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 5px;
}

#u75-7
{
	z-index: 17;
	width: 179px;
	min-height: 64px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	text-align: left;
	text-transform: lowercase;
	position: relative;
	margin-right: -10000px;
	margin-top: 370px;
	left: 629px;
}

#u75-7:active
{
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #F15A24;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 64px;
	width: 179px;
	margin: 370px -10000px 0px 0px;
}

#u75-2
{
	font-size: 22px;
	line-height: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	padding: 13px 10px 5px;
}

#u75-3,#u75-5
{
	font-size: 12px;
	line-height: 9px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: Courier New, Courier, monospace;
}

#u276
{
	z-index: 24;
	width: 260px;
	border-width: 2px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 724px;
}

#u303
{
	z-index: 26;
	width: 300px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 353px;
	left: 90px;
}

#u315
{
	z-index: 28;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 202px;
	left: 376px;
}

#u1501
{
	z-index: 30;
	width: 104px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 390px;
	left: 856px;
}

#u1528
{
	z-index: 32;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 630px;
}

#u86
{
	z-index: 34;
	width: 434px;
	border-color: #000000;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: -44px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

