#u75-8
{
	background-color: transparent;
	text-align: right;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	position: relative;
}

#u75-2,#u75-4
{
	font-size: 30px;
	line-height: 36px;
	font-weight: bold;
}

#u75-6
{
	font-size: 12px;
	line-height: 14px;
	font-weight: normal;
}

#u80-24
{
	background-color: transparent;
	text-align: right;
	position: relative;
}

#u106-3
{
	background-color: transparent;
	position: relative;
}

