#u1405-8
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	text-align: left;
	font-size: 14px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#u1405-3
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

#u1405-6
{
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

