.version.never_undersold /* version checker */
{
	color: #0000EF;
	background-color: #87BE77;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2037.6000000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 108px;
	width: 0.01px;
}

#pu1131-8
{
	width: 0.01px;
	margin-left: -73px;
}

#u1131-8
{
	z-index: 2;
	width: 161px;
	min-height: 74px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u1131-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 161px;
	margin: 0px -10000px -1px 0px;
}

#u641-4
{
	z-index: 48;
	width: 830px;
	min-height: 55px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 48px;
	text-align: right;
	font-size: 40px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 238px;
}

#pu1320-38
{
	width: 0.01px;
	margin-left: -80px;
	margin-top: 15px;
}

#u1320-38
{
	z-index: 10;
	width: 169px;
	min-height: 255px;
	margin-right: -10000px;
	margin-top: 19px;
}

#pu640-7
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-left: 210px;
}

#u640-7
{
	z-index: 52;
	width: 865px;
	min-height: 91px;
	background-color: transparent;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: Courier New, Courier, monospace;
	position: relative;
}

#pu801
{
	width: 0.01px;
	margin-top: 26px;
}

#u801
{
	z-index: 61;
	width: 415px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u795
{
	z-index: 59;
	width: 415px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 449px;
}

#pu811
{
	width: 0.01px;
	margin-left: 158px;
	margin-top: 28px;
}

#u811
{
	z-index: 65;
	width: 551px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 151px;
}

#u1511
{
	z-index: 67;
	width: 163px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 426px;
}

#u806
{
	z-index: 63;
	width: 887px;
	background-color: transparent;
	margin-left: 108px;
	margin-top: 80px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

