.version.omb /* version checker */
{
	color: #000012;
	background-color: #73CD77;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 6423.95px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 3248px;
	width: 0.01px;
}

#pu1131-8
{
	width: 0.01px;
	margin-left: -73px;
}

#u1131-8
{
	z-index: 2;
	width: 161px;
	min-height: 74px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u1131-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 74px;
	width: 161px;
	margin: 0px -10000px -1px 0px;
}

#u175-4
{
	z-index: 51;
	width: 657px;
	min-height: 52px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 50px;
	text-align: right;
	font-size: 42px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 411px;
}

#pu1320-38
{
	width: 0.01px;
	margin-left: -80px;
	margin-top: 15px;
}

#u1320-38
{
	z-index: 10;
	width: 169px;
	min-height: 255px;
	margin-right: -10000px;
	margin-top: 19px;
}

#u1201
{
	z-index: 61;
	width: 500px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 556px;
}

#u1207
{
	z-index: 63;
	width: 533px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 15px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u1209-6
{
	z-index: 64;
	width: 490px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 24px;
}

#u1212
{
	z-index: 50;
	width: 565px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 130px;
	margin-top: 62px;
	position: relative;
	padding: 21px 27px 16px 23px;
}

#u1177
{
	z-index: 55;
	width: 564px;
	background-color: transparent;
	position: relative;
}

#u1213-6
{
	z-index: 70;
	width: 317px;
	min-height: 35px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-left: 248px;
	margin-top: 8px;
	position: relative;
}

#u1209-4,#u1213-4
{
	font-style: italic;
}

#u1225
{
	z-index: 49;
	width: 496px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 450px;
	margin-top: 56px;
	position: relative;
	padding: 19px 24px 14px;
}

#u1189
{
	z-index: 57;
	width: 496px;
	background-color: transparent;
	position: relative;
}

#u1226-4
{
	z-index: 76;
	width: 490px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-left: 2px;
	margin-top: 17px;
	position: relative;
}

#u1227
{
	z-index: 48;
	width: 390px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 130px;
	margin-top: 54px;
	position: relative;
	padding: 21px 25px 14.099999999999px 23px;
}

#u1195
{
	z-index: 59;
	width: 390px;
	background-color: transparent;
	position: relative;
}

#u1228-4
{
	z-index: 80;
	width: 390px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-top: 17px;
	position: relative;
}

#u1466
{
	z-index: 84;
	width: 397px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 521px;
	margin-top: 77px;
	position: relative;
	padding: 20px 20px 12px 21px;
}

#u1468
{
	z-index: 89;
	width: 397px;
	background-color: transparent;
	position: relative;
}

#u1467-4
{
	z-index: 85;
	width: 390px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-left: 7px;
	margin-top: 14px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

