.version.tech_confessions /* version checker */
{
	color: #000010;
	background-color: #75F35B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 437px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 63px;
	margin-left: auto;
	margin-right: auto;
}

#u1405-8
{
	z-index: 2;
	width: 61px;
	min-height: 60px;
	margin-right: -10000px;
	margin-top: 89px;
	left: -62px;
}

#pu386-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 20px;
}

#u386-4
{
	z-index: 18;
	width: 375px;
	min-height: 43px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 37px;
	text-align: center;
	font-size: 31px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	position: relative;
}

#u385-7
{
	z-index: 10;
	width: 375px;
	min-height: 203px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	text-align: left;
	font-family: Courier New, Courier, monospace;
	margin-top: 40px;
	position: relative;
}

#u386-2,#u385-2,#u385-3,#u385-5
{
	padding: 5px;
}

#pu389
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 89px;
	margin-left: 422px;
}

#u389
{
	z-index: 17;
	width: 557px;
	height: 470px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#slideshowu934
{
	z-index: 22;
	width: 0.01px;
	height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 8px;
}

#u937
{
	position: absolute;
	width: 542px;
	height: 377px;
	background-color: transparent;
}

#u937popup
{
	z-index: 23;
}

#u990
{
	z-index: 24;
	width: 542px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1013
{
	z-index: 26;
	width: 542px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1013_img
{
	padding-left: 83px;
	padding-right: 82px;
}

#u999
{
	z-index: 28;
	width: 542px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u999_img
{
	padding-top: 8px;
	padding-bottom: 8px;
}

#u938
{
	z-index: 30;
	width: 542px;
	height: 377px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u990_img,#u938_img
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#u944
{
	position: absolute;
	width: 542px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 379px;
}

#u944popup
{
	z-index: 32;
}

#u993
{
	z-index: 33;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 136px;
}

#u1016
{
	z-index: 35;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 206px;
}

#u1016_img
{
	padding-left: 8px;
	padding-right: 7px;
}

#u1002
{
	z-index: 37;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 276px;
}

#u1002_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u945
{
	z-index: 39;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 346px;
}

#u993.SSSlideLinkSelected,#u1016.SSSlideLinkSelected,#u1002.SSSlideLinkSelected,#u945.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u993_img,#u945_img
{
	padding-top: 6px;
	padding-bottom: 5px;
}

#u952-4
{
	position: absolute;
	width: 10px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 15px;
	color: #999999;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	top: 427px;
	left: 241px;
}

#u952-4popup
{
	z-index: 41;
}

#u935-4
{
	position: absolute;
	width: 10px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 15px;
	color: #999999;
	text-align: center;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	top: 427px;
	left: 271px;
}

#u935-4popup
{
	z-index: 45;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

