.version.choose_kindness /* version checker */
{
	color: #0000FA;
	background-color: #97D872;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 367px;
	min-height: 1146px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 9px 92px 4px;
}

#u1631-8
{
	z-index: 2;
	width: 110px;
	min-height: 41px;
	margin-left: 2px;
}

#u1631-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 110px;
	margin: 0px 0px 0px 2px;
}

#u1720-4
{
	z-index: 48;
	width: 181px;
	min-height: 17px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 160px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu1632-38
{
	width: 0.01px;
}

#u1632-38
{
	z-index: 10;
	width: 122px;
	min-height: 194px;
	margin-right: -10000px;
}

#u1721-9
{
	z-index: 52;
	width: 232px;
	min-height: 103px;
	background-color: transparent;
	line-height: 18px;
	text-align: center;
	font-size: 15px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 135px;
}

#pu1722
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 7px;
}

#u1722
{
	z-index: 61;
	width: 174px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1724
{
	z-index: 63;
	width: 174px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 184px;
}

#pu1726
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 6px;
}

#u1726
{
	z-index: 65;
	width: 181px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1728
{
	z-index: 67;
	width: 178px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u1730
{
	z-index: 69;
	width: 359px;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 8px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

