.version.omb /* version checker */
{
	color: #0000FA;
	background-color: #A38F63;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 363px;
	min-height: 2400px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 13px 91px 4px;
}

#u1631-8
{
	z-index: 2;
	width: 110px;
	min-height: 41px;
	margin-left: 2px;
}

#u1631-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 110px;
	margin: 0px 0px 0px 2px;
}

#u1765-4
{
	z-index: 47;
	width: 195px;
	min-height: 21px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 148px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u1632-37
{
	z-index: 10;
	width: 122px;
	min-height: 194px;
}

#pu1786
{
	width: 0.01px;
	margin-left: 3px;
	margin-top: 10px;
}

#u1786
{
	z-index: 51;
	width: 346px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 10px;
}

#u1788
{
	z-index: 53;
	width: 359px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 9px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1789-6
{
	z-index: 54;
	width: 336px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 19px;
}

#u1791
{
	z-index: 60;
	width: 328px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 3px;
	margin-top: 21px;
	position: relative;
	padding: 12px 14px 5.0843615354727945px 13px;
}

#u1792
{
	z-index: 61;
	width: 326px;
	background-color: transparent;
	position: relative;
}

#u1795-6
{
	z-index: 63;
	width: 317px;
	min-height: 35px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-left: 11px;
	margin-top: 7px;
	position: relative;
}

#u1789-4,#u1795-4
{
	font-style: italic;
}

#u1796
{
	z-index: 69;
	width: 324px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
	padding: 12px 15px 9px 12px;
}

#u1797
{
	z-index: 70;
	width: 320px;
	background-color: transparent;
	margin-left: 3px;
	position: relative;
}

#u1800-4
{
	z-index: 72;
	width: 324px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-top: 12px;
	position: relative;
}

#u1801
{
	z-index: 76;
	width: 313px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 24px;
	position: relative;
	padding: 17px 20px 9px 18px;
}

#u1802
{
	z-index: 77;
	width: 313px;
	background-color: transparent;
	position: relative;
}

#u1805-4
{
	z-index: 79;
	width: 313px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-top: 11px;
	position: relative;
}

#u1806
{
	z-index: 83;
	width: 319px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 7px;
	margin-top: 21px;
	position: relative;
	padding: 15px 15px 8.356149667443788px 17px;
}

#u1807
{
	z-index: 84;
	width: 319px;
	background-color: transparent;
	position: relative;
}

#u1810-4
{
	z-index: 86;
	width: 317px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	margin-left: 2px;
	margin-top: 7px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

