.version.social /* version checker */
{
	color: #0000F0;
	background-color: #4F0AF9;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 364px;
	min-height: 1164.7250000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 12px 104.27499999999964px 4px;
}

#u1631-8
{
	z-index: 2;
	width: 110px;
	min-height: 41px;
	margin-left: 2px;
}

#u1631-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 110px;
	margin: 0px 0px 0px 2px;
}

#u1811-4
{
	z-index: 48;
	width: 108px;
	min-height: 20px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 186px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u1632-38
{
	z-index: 10;
	width: 122px;
	min-height: 194px;
}

#u1812
{
	z-index: 52;
	width: 332px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 14px;
	position: relative;
	padding: 7px 11px 10px 12px;
}

#u1813
{
	z-index: 53;
	width: 332px;
	background-color: transparent;
	position: relative;
}

#u1820-4
{
	z-index: 58;
	width: 332px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	margin-top: 2px;
	position: relative;
}

#u1816
{
	z-index: 55;
	width: 328px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 18px;
	position: relative;
	padding: 16px 17px 10.067756844309429px 12px;
}

#u1817
{
	z-index: 56;
	width: 327px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u1821-4
{
	z-index: 62;
	width: 328px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	margin-top: 8px;
	position: relative;
}

#u1822
{
	z-index: 66;
	width: 353px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 5px;
	margin-top: 18px;
	position: relative;
}

#u1822_position_content
{
	padding-top: 26px;
	padding-bottom: 11px;
}

#u1823
{
	z-index: 67;
	width: 316px;
	background-color: transparent;
	margin-left: 21px;
	position: relative;
}

#u1826-4
{
	z-index: 69;
	width: 408px;
	min-height: 24px;
	background-color: transparent;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Courier New, Courier, monospace;
	font-style: normal;
	left: -71px;
	margin-top: 9px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

