.version.sunshine_underground /* version checker */
{
	color: #0000EA;
	background-color: #1E7209;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 368px;
	min-height: 967px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 9px 8px 81px 4px;
}

#u1631-8
{
	z-index: 2;
	width: 110px;
	min-height: 41px;
	margin-left: 2px;
}

#u1631-8:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 41px;
	width: 110px;
	margin: 0px 0px 0px 2px;
}

#u1709-4
{
	z-index: 48;
	width: 239px;
	min-height: 22px;
	background-color: transparent;
	text-transform: uppercase;
	line-height: 20px;
	text-align: right;
	font-size: 17px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 129px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#pu1632-38
{
	width: 0.01px;
}

#u1632-38
{
	z-index: 10;
	width: 122px;
	min-height: 194px;
	margin-right: -10000px;
}

#u1710-4
{
	z-index: 52;
	width: 239px;
	min-height: 183px;
	background-color: transparent;
	line-height: 19px;
	text-align: center;
	font-size: 16px;
	font-family: Courier New, Courier, monospace;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 129px;
}

#u1711
{
	z-index: 56;
	width: 230px;
	-pie-box-shadow: none;
	box-shadow: 8px 8px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 128px;
}

#u1714
{
	z-index: 58;
	width: 362px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 21px;
	position: relative;
}

#u1716
{
	z-index: 60;
	width: 362px;
	background-color: transparent;
	margin-left: 6px;
	margin-top: 14px;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

