.version.tech_confessions /* version checker */
{
	color: #0000F9;
	background-color: #DB623A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 349px;
	min-height: 489px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 10px 22px 71px 9px;
}

#pu1804-8
{
	width: 0.01px;
}

#u1804-8
{
	z-index: 2;
	width: 61px;
	min-height: 60px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u1825-4
{
	z-index: 10;
	width: 235px;
	min-height: 4px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 99px;
}

#u1826-7
{
	z-index: 14;
	width: 336px;
	min-height: 114px;
	-pie-box-shadow: none;
	box-shadow: 6px 6px 0px #000000;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: transparent;
	line-height: 13px;
	text-align: left;
	font-size: 11px;
	font-family: Courier New, Courier, monospace;
	margin-left: 10px;
	margin-top: 25px;
	position: relative;
}

#u1825-2,#u1826-2,#u1826-3,#u1826-5
{
	padding: 5px;
}

#slideshowu1827
{
	z-index: 21;
	width: 0.01px;
	height: 334px;
	margin-left: 7px;
	margin-top: 22px;
	position: relative;
}

#u1834
{
	position: absolute;
	width: 342px;
	height: 247px;
	background-color: transparent;
}

#u1834popup
{
	z-index: 22;
}

#u1841
{
	z-index: 23;
	width: 342px;
	height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1835
{
	z-index: 25;
	width: 342px;
	height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1835_img
{
	margin: -5px 42px -6px;
}

#u1837
{
	z-index: 27;
	width: 342px;
	height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1837_img
{
	margin: 5px -6px 5px -7px;
}

#u1839
{
	z-index: 29;
	width: 342px;
	height: 247px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u1841_clip,#u1835_clip,#u1837_clip,#u1839_clip
{
	overflow: hidden;
	width: 342px;
	height: 247px;
}

#u1841_img,#u1839_img
{
	margin: 24px -6px 23px -7px;
}

#u1847
{
	position: absolute;
	width: 337px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	top: 248px;
	left: 3px;
}

#u1847popup
{
	z-index: 31;
}

#u1848
{
	z-index: 32;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 33px;
}

#u1852
{
	z-index: 34;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 103px;
}

#u1852_img
{
	padding-left: 8px;
	padding-right: 7px;
}

#u1850
{
	z-index: 36;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 173px;
}

#u1850_img
{
	padding-top: 3px;
	padding-bottom: 2px;
}

#u1854
{
	z-index: 38;
	width: 60px;
	height: 45px;
	border-color: #6B6B6B;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 243px;
}

#u1848.SSSlideLinkSelected,#u1852.SSSlideLinkSelected,#u1850.SSSlideLinkSelected,#u1854.SSSlideLinkSelected
{
	border-style: none;
	border-color: transparent;
	width: 60px;
	height: 45px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u1848_img,#u1854_img
{
	padding-top: 6px;
	padding-bottom: 5px;
}

#u1856-4
{
	position: absolute;
	width: 10px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 15px;
	color: #999999;
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	top: 299px;
	left: 141px;
}

#u1856-4popup
{
	z-index: 40;
}

#u1857-4
{
	position: absolute;
	width: 10px;
	min-height: 15px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 10px;
	line-height: 15px;
	color: #999999;
	text-align: center;
	font-size: 11px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	top: 299px;
	left: 171px;
}

#u1857-4popup
{
	z-index: 44;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

